@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(68, 143, 80) , rgb(27, 76, 129));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #21123d;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 80px 15px rgb(41, 56, 105);
    display: flex;
}

.conteudo {
    background-color: #21123d;
    width: auto;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    padding: 15px 35px 15px 15px;
}

.linha-vertical {
    margin: 10px 0px;
    height: auto;
    border-left: 6px solid #fff;
    border-radius: 5px;
}

img.eu {
    border-radius: 3px;
    width: 350px;
    border: 1px solid rgb(175, 175, 175);
    margin: 10px 15px 15px 15px;
}

div.social {
    margin: auto 15px;
}

img.logos {
    margin: auto 15px;
}

span {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
}

@media (max-width: 830px) {
    body {
        height: 1000px;
        background-repeat: no-repeat;
    }

    .card {
        display: inline-block;
        position: relative;
        padding: auto;
        height: auto;
    }

    .conteudo {
        position: relative;
        letter-spacing: 0;
        word-spacing: 0px;
        top: 470px;
        padding-right: 15px;
    }

    .imagens {
        position: relative;
        top: -435px;
    }

    .eu {
        width: auto;
    }
}

.amarelo {
    color: #eef78a;
}

.azul {
    color: #66cfdf;
}

.branco {
    color: #eaeae5;
}

.verde {
    color: #4ff87a;
}

.rosa {
    color: #eb71b8;
}

.roxo {
    color: #a482df;   
}